# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
env/

# Flask/SQLAlchemy
instance/
*.db
*.sqlite

# Environment variables
.env

# Tests
.pytest_cache/
.coverage
htmlcov/

# Logs
logs/
*.log

# Static/Uploads
static/uploads/students/*

# OS
.DS_Store
Thumbs.db
